* {
    font-family: serif;
    background-color: aqua;
}

h3 {
    background-color: red;
}
em {
    color: red;
}
a:visited,
a:link {
    colour: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

h3:hover {
    text-decoration: none;
    color: snow;
    background-color: black;
}